In [17]:
# 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.

import pandas as pd
df = pd.read_csv('diamonds.csv',index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [18]:
# 2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and 
# print the first 6 rows

df[['carat','cut','x','y','z']].head(6)

   carat        cut     x     y     z
1   0.23      Ideal  3.95  3.98  2.43
2   0.21    Premium  3.89  3.84  2.31
3   0.23       Good  4.05  4.07  2.31
4   0.29    Premium  4.20  4.23  2.63
5   0.31       Good  4.34  4.35  2.75
6   0.24  Very Good  3.94  3.96  2.48

In [19]:
# 3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.

diamonds = pd.read_csv('diamonds.csv',index_col=0)
diamonds['carat']

1        0.23
2        0.21
3        0.23
4        0.29
5        0.31
         ...
53936    0.72
53937    0.72
53938    0.70
53939    0.86
53940    0.75
Name: carat, Length: 53940, dtype: float64

In [20]:
# 4. Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) 
# of the diamonds DataFrame.

diamonds['Quality-color'] = 'Pure'
diamonds

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [21]:
# 5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

diamonds.shape

(53940, 11)

In [22]:
diamonds.dtypes

carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality-color     object
dtype: object

In [23]:
# 6 Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

diamonds.describe(include='object')

          cut  color clarity Quality-color
count   53940  53940   53940         53940
unique      5      7       8             1
top     Ideal      G     SI1          Pure
freq    21551  11292   13065         53940

In [25]:
# 7. Write a Pandas program to rename two of the columns of the diamonds Dataframe

diamonds.rename(columns={'x':'A','y':'B','z':'C'})

,carat,cut,color,clarity,depth,table,price,A,B,C,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [28]:
# 8. Write a Pandas program to rename all the columns of the diamonds Dataframe.

diamonds.rename(columns={
                        'carat':'N_Carat',
                        'cut':'N_Cut',
                        'color':'N_Color',
                        'clarity':'N_Clarity',
                        'depth':'N_Depth',
                        'table':'N_Table',
                        'price':'N_Price',
                        'x':'N_X',
                        'y':'N_Y',
                        'z':'N_Z',
                        'Quality-color':'N_Quality-color'})

,N_Carat,N_Cut,N_Color,N_Clarity,N_Depth,N_Table,N_Price,N_X,N_Y,N_Z,N_Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [33]:
# 9. Write a Pandas program to remove the second column of the diamonds Dataframe.
diamonds.drop('cut',axis=1)

,carat,color,clarity,depth,table,price,x,y,z,Quality-color
1,0.23,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure
4,0.29,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
...,...,...,...,...,...,...,...,...,...,...
53936,0.72,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [34]:
# 10. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe.
diamonds.drop(['cut','clarity','depth'],axis=1)

       carat color  table  price     x     y     z Quality-color
1       0.23     E   55.0    326  3.95  3.98  2.43          Pure
2       0.21     E   61.0    326  3.89  3.84  2.31          Pure
3       0.23     E   65.0    327  4.05  4.07  2.31          Pure
4       0.29     I   58.0    334  4.20  4.23  2.63          Pure
5       0.31     J   58.0    335  4.34  4.35  2.75          Pure
...      ...   ...    ...    ...   ...   ...   ...           ...
53936   0.72     D   57.0   2757  5.75  5.76  3.50          Pure
53937   0.72     D   55.0   2757  5.69  5.75  3.61          Pure
53938   0.70     D   60.0   2757  5.66  5.68  3.56          Pure
53939   0.86     H   58.0   2757  6.15  6.12  3.74          Pure
53940   0.75     D   55.0   2757  5.83  5.87  3.64          Pure

[53940 rows x 8 columns]

In [35]:
# 11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe.
diamonds.drop([1,2,3],axis=0)

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,Pure
7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,Pure
8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [36]:
# 12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.
diamonds['cut'].sort_values(ascending=True)

3851          Fair
51465         Fair
51467         Fair
10238         Fair
10761         Fair
           ...
7403     Very Good
43102    Very Good
16894    Very Good
16899    Very Good
21165    Very Good
Name: cut, Length: 53940, dtype: object

In [37]:
# 13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe.
diamonds['price'].sort_values(ascending=False)

27750    18823
27749    18818
27748    18806
27747    18804
27746    18803
         ...
5          335
4          334
3          327
2          326
1          326
Name: price, Length: 53940, dtype: int64

In [38]:
# 14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and 
# descending order.
diamonds['carat'].sort_values(ascending=True)

31594    0.20
31598    0.20
31597    0.20
31596    0.20
31595    0.20
         ...
26000    4.01
25999    4.01
27131    4.13
27631    4.50
27416    5.01
Name: carat, Length: 53940, dtype: float64

In [40]:
diamonds['carat'].sort_values(ascending=False)

27416    5.01
27631    4.50
27131    4.13
26000    4.01
25999    4.01
         ...
31593    0.20
31592    0.20
31602    0.20
15       0.20
31597    0.20
Name: carat, Length: 53940, dtype: float64

In [55]:
# 15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3


diamonds.loc[(diamonds['carat'] > 0.3)]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71,Pure
16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,Pure
24,0.31,Very Good,J,SI1,59.4,62.0,353,4.39,4.43,2.62,Pure
25,0.31,Very Good,J,SI1,58.1,62.0,353,4.44,4.47,2.59,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [57]:
# 16. Write a Pandas program to convert a python list to pandas series.
l = [10,20,30,40,50]

pd.Series(l)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [63]:
# 17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

diamonds.loc[(diamonds['x']>5) & (diamonds['y']>5) & (diamonds['z']>5)]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12,Pure
13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36,Pure
13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23,Pure
13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04,Pure
13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36,Pure
...,...,...,...,...,...,...,...,...,...,...,...
27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04,Pure
27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16,Pure
48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80,Pure
49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12,Pure
49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06,Pure

In [87]:
# 18. Write a Pandas program to find the diamonds that are either Premium or Ideal.

diamonds.loc[(diamonds['cut'] == 'Premium') | (diamonds['cut'] == 'Ideal')]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,Pure
13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43,Pure
53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58,Pure
53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure
53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,Pure

In [91]:
# 19. Write a Pandas program to find the diamonds that are with a Fair or Good or Premium
diamonds.loc[(diamonds['cut'] == 'Fair') | (diamonds['cut'] == 'Good') | (diamonds['cut'] == 'Premium')]

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,Pure
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,Pure
9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,Pure
...,...,...,...,...,...,...,...,...,...,...,...
53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49,Pure
53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43,Pure
53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58,Pure
53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,Pure
53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Pure

In [94]:
# 20. Write a Pandas program to display all column labels of diamonds DataFrame.
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z', 'Quality-color'],
      dtype='object')

In [97]:
# 21. Write a Pandas program to read only a subset of 3 rows from diamonds DataFrame
diamonds.head(3)

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,Pure
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,Pure
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,Pure

In [98]:
# 22. Write a Pandas program to iterate through diamonds DataFrame.

In [ ]:
# 23. Write a Pandas program to drop all non-numeric columns from diamonds DataFrame.

In [ ]:
# 24. Write a Pandas program to include only numeric columns in the diamonds DataFrame.

In [ ]:
# 25. Write a Pandas program to pass a list of data types to only describe certain types of diamonds DataFrame.

In [ ]:
# 26. Write a Pandas program to calculate the mean of each numeric column of diamonds DataFrame.

In [ ]:
# 27. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [99]:
# 28. Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

In [ ]:
# 29. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [ ]:
# 30. Write a Pandas program to create a side-by-side bar plot of the diamonds DataFrame.

In [ ]:
# 31. Write a Pandas program to count how many times each value in cut series of diamonds DataFrame occurs.

In [ ]:
# 32. Write a Pandas program to display percentages of each value of cut series occurs in diamonds DataFrame.

In [100]:
# 33. Write a Pandas program to display the unique values in cut series of diamonds DataFrame.

In [101]:
# 34. Write a Pandas program to count the number of unique values in cut series of diamonds DataFrame.

In [ ]:
# 35. Write a Pandas program to compute a cross-tabulation of two Series in diamonds DataFrame.

In [ ]:
# 36. Write a Pandas program to calculate various summary statistics of cut series of diamonds DataFrame.

In [ ]:
# 37. Write a Pandas program to create a histogram of the 'carat' Series (distribution of a numerical variable) 
# of diamonds DataFrame.

In [ ]:
# 38. Write a Pandas program to create a bar plot of the 'value_counts' for the 'cut' series of diamonds DataFrame.

In [102]:
# 39. Write a Pandas program to create a DataFrame of booleans (True if missing, False if not missing) from 
# diamonds DataFrame.

In [ ]:
# 40. Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [ ]:
# 41. Write a Pandas program to check the number of rows and columns and drop those row if 'any' values are 
# missing in a row of diamonds DataFrame.

In [ ]:
# 42. Write a Pandas program to drop a row if any or all values in a row are missing of diamonds DataFrame 
# on two specific columns.

In [ ]:
# 43. Write a Pandas program to set an existing column as the index of diamonds DataFrame.

In [ ]:
# 44. Write a Pandas program to set an existing column as the index of diamonds DataFrame and restore the 
# index name, and move the index back to a column.

In [ ]:
# 45. Write a Pandas program to access a specified Series index and the Series values of diamonds DataFrame.

In [ ]:
# 46. Write a Pandas program to sort a Series by its values and index of diamonds DataFrame.

In [ ]:
# 47. Write a Pandas program to calculate the multiply of length, width and depth for each cut of diamonds DataFrame.

In [ ]:
# 48. Write a Pandas program to concatenate the diamonds DataFrame with the 'color' Series.

In [ ]:
# 49. Write a Pandas program to read specified rows and all columns of diamonds DataFrame.

In [ ]:
# 50. Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds DataFrame.

In [ ]:
# 51. Write a Pandas program to read rows 2 through 5 and all columns of diamonds DataFrame.

In [ ]:
# 52. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' and 'price' of diamonds DataFrame.

In [ ]:
# 53. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' through 'price' (inclusive) of 
# diamonds DataFrame.

In [ ]:
# 54. Write a Pandas program to read rows in which the 'cut' is 'Premium', column 'color' of diamonds DataFrame.

In [ ]:
#55. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [ ]:
# 56. Write a Pandas program to read rows in positions 0 through 4, columns in positions 1 through 4 of diamonds DataFrame.

In [ ]:
# 57. Write a Pandas program to read rows in positions 0 through 4 (exclusive) and all columns of diamonds DataFrame.

In [ ]:
# 58. Write a Pandas program to read rows 2 through 5 (inclusive), columns in positions 0 through 2 (exclusive) 
# of diamonds DataFrame.

In [ ]:
# 59. Write a Pandas program to print a concise summary of diamonds DataFrame.

In [ ]:
# 60. Write a Pandas program to get the true memory usage by diamonds DataFrame.

In [ ]:
# 61. Write a Pandas program to calculate the memory usage for each Series (in bytes) of diamonds DataFrame.

In [ ]:
# 62. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [ ]:
# 63. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and 
# store the remaining 25% of the rows in another DataFrame.

In [ ]:
# 64. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [ ]:
# 65. Write a Pandas program to count the duplicate rows of diamonds DataFrame.